<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
              http://www.springframework.org/schema/beans
              http://www.springframework.org/schema/beans/spring-beans.xsd
              http://www.springframework.org/schema/context
              http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="spring-mvc.xml"/>
    <import resource="mongo.xml"/>

    <context:annotation-config/>
    <context:component-scan base-package="ru.gnkoshelev.demo.spring_angular.web"/>

    <context:property-placeholder location="classpath:config.properties"/>

    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate"/>

    <bean id="tagsRequester" class="ru.gnkoshelev.demo.spring_angular.web.so.api.HttpTagRequester">
        <property name="restTemplate" ref="restTemplate"/>
    </bean>

<!--
    <bean id="tagsRequester" class="ru.gnkoshelev.demo.spring_angular.web.so.api.mock.MockTagRequester">
        <property name="samples">
            <map>
                <entry key="java">
                    <bean class="java.lang.String">
                        <constructor-arg>
                            <bean class="org.springframework.util.FileCopyUtils" factory-method="copyToByteArray">
                                <constructor-arg value="classpath:data/java.html" type="java.io.InputStream" />
                            </bean>
                        </constructor-arg>
                    </bean>
                </entry>
                <entry key="javascript">
                    <bean class="java.lang.String">
                        <constructor-arg>
                            <bean class="org.springframework.util.FileCopyUtils" factory-method="copyToByteArray">
                                <constructor-arg value="classpath:data/javascript.html" type="java.io.InputStream" />
                            </bean>
                        </constructor-arg>
                    </bean>
                </entry>
            </map>
        </property>
    </bean>
-->

</beans>